<p><img alt="Colaboratory logo" height="140px" src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Logo-ITM-01.png" align="left" hspace="10px" vspace="0px"></p>
<h2> Introducción a la programación orientada a objetos con python.</h2>

El presente curso hace parte del programa de catedra especializada del ITM. Por Juan Carlos Morales Guerra

<p><a name="pythonIntro"></a></p>

# 1) Introducción a Python

[[Contenidos]](#contents)

El objetivo de la presente sección es el de suministrar al lector una breve introducción al lenguaje Python, y ayudar a los principiantes a familiarizarse con dicho lenguaje.

<p><a name="vars"></a></p>

## 1.1. Variables y tipos

[[Secciones]](#sections)

<p><a name="syms"></a></p>

### 1.1.1. Variables y tipos

Los nombres de las variables en Python pueden contener caracteres alfanuméricos *a-z*, *A-Z*, *0-9* y algunos caracteres especiales como _. Los nombres de las variables deben comenzar con una letra. 

Por convención, los nombres de las variables comienzan con letras minúsculas, y los nombres de las Clases con letras mayúsculas.

Adicionalmente, existe un número de palabras claves que no pueden ser usadas como nombres de variables. Estas palabras claves son:

> `and, as, assert, break, class, continue, def, del, elif, else, except, exec, finally, for, from, global, if, import, in, is, lambda, not, or, pass, print, raise, return, try, while, with, yield`

<p><a name="asign"></a></p>

### 1.1.2. Asignación.

En Python, el operado de asignación es "=".  Python es un lenguaje de tipado dinámico, de tal forma que no es necesario asignarle un tipo a la variable cuando es creada.

La asignación de un valor a una variable crea la variable. Por ejemplo:

In [9]:
# asignación a una variable

y = "Hola mundo"

Aunque no se hizo explicito, la variable tiene un tipo asociado a ella. El tipo de la variable puede deducirse del valor que le fue asignado. También podemos consultar el tipo mediante la función `type`:

In [10]:
type(y)

str

Si asignamos a la variable un nuevo valor, su tipo puede cambiar:

In [12]:
x = 1.5
type(x)

float

Si intentamos usar una variable que no ha sido definida aun, obtenemos un error `NameError` (Nótese que usarémos en los notebooks los bloques `try/except` para tratar las excepciones, de tal forma que el notebook no se interrumpa). 

En el siguiente código, intentaremos usar la función `print` de tal forma que si ocurre la excepción `NameError`, se imprime un mensaje en pantalla; de lo contrario, se generará un error. Más adelante, en el presente notebook, se estudiará mas detalladamente el manejo de excepciones.

<p><a name="ftypes"></a></p>

### 1.1.3. Tipos fundamentales.

En Python, los tipos fundamentales son 





1.   Enteros (int).
2.   Punto flotante (float).
3.   Buleanos (boolean)
4.   Cadena de caracteres (strings).

Veamos algunos ejemplos de estos tipos:

In [13]:
# integers

x = 1
type(x)

int

In [14]:
# float 

x = 1.0
type(x)

float

In [15]:
# boolean

b1 = True
b2 = False

type(b1), type(b2)

(bool, bool)

In [16]:
# string
s = "Hola Mundo"

type(s)

str

<p><a name="ops&comps"></a></p>

## 1.2. Operadores y comparaciones.

[[Secciones]](#sections)

La mayoria de operadores y comparaciones poseen el significado al que, comunmente, estamos acostumbrados.
<br>
<br>
*   Operadores aritméticos  `+`, `-`, `*`, `/`, `**` (potencia), `%` (módulo)

In [23]:
x = 1%2
x

1

En Python 2.7, el tipo de división (/) que se ejecute, depende del tipo de números involucrados. Si todos los números son enteros, la división será una divión entera, de lo contrario, será una operación en coma flotante. En Python 3, este hecho ha cambiado y las fracciones no se pierden cuando se dividen dos enteros (para las divisiones enteras se puede usar el operdor //)

In [25]:
# En Python 3 las siguientes dos operaciones daran el mismo resultado.
# En Python 2, la primera de ellas será tratada como una división entera.

print(1/2)
print(1/2.0)
print(11//6.0)

0.5
0.5
1.0

In [26]:
# Nótese que la potenciación en Python se escribe de la forma ** y
# no como ^

2**2

4


*   Los buleanos están conectados o precedidos por palabras como `and`, `not`, `or`.

In [31]:
False * False

0

In [28]:
not False

True

In [ ]:
True or False

True



*   Operadores de comparación `>`, `<`, `>=`(mayor o igual), `<=` (menor o igual), `==` (igual), `!=`(no igual) y `is` (identico).

In [32]:
2>1,2<1

(True, False)

In [33]:
2>3,2<2

(False, False)

In [34]:
4<=4,4>=4

(True, True)

In [35]:
#igual a
[3,2]==[3,2]

True

In [36]:
# Not equal to

2 != 5

True

*   Operador buleano

In [38]:
x = True
y = False

print(not x)
print(x and y)
print(x or y)

False
False
True

<p><a name="mscut"></a></p>

### 1.2.1 Atajos de operaciones matemáticas y asignaciones.

[[Secciones]](#sections)

Por ejemplo, la siguiente asignación y operación:

In [42]:
a = 2
a /= 2
print(a)

1.0

el comando `a = a * 2`, puede ser abreviado como `a *= 2`. Este tipo de abreviaciones funcionan con las siguientes operaciones `+=`, `-=`, y `/=`.

In [41]:
a = 4
a +=2
print(a)

6

<p><a name="sltd"></a></p>

## 1.3. Strings, listas y diccionarios.

[[Secciones]](#sections)

<p><a name="strings"></a></p>

###1.3.1 Strings

Las variables que se usan para guardar un mensaje, palabra, etc, se conocen como `strings`

In [48]:
s = "carlos morales"
type(s)

str

In [46]:
# Longitud del string: Número de caracteres en el string
len(s)

6

In [49]:
# Reemplazo de un substring dentro de un string
s2 = s.replace("carlos","juan")
print(s2)

juan morales

Podemos indexar los caracteres en un string mediante el uso de `[]`

In [52]:
s[0],s[1],s[2]

('c', 'a', 'r')

**Para los usuarios de MATLAB:** Se debe tener cuidado ya que la indexación en Python empieza en 0.

Es posible extraer parte de un string usando la sintaxis `[start:stop]`, en donde se extraen los caracteres entre la posiciones `start` y `stop`:

In [58]:
s = "carlos"
s[3:6]

'los'

Si omitimos en el intervalo el `start` o el `stop`, se toma por defecto el princio y el final de string, respectivamente

In [59]:
s[:4]

'carl'

In [60]:
s[5:]

's'

In [61]:
s[:]

'carlos'

También podemos definir el tamaño del paso usando la sintaxis `[inicio:final:paso]`(el valor por defecto del paso es 1, como se vio anteriormente)

In [67]:
s = "carlos"
s[1:6:2]

'als'

In [68]:
s[::3]

'cl'

A esta técnica se le conoce con el nombre se *slicing*.

**Ejemplos de formatos de strings**

In [69]:
#Contatenación de strings con +
print("Común"+"mente")

Comúnmente

In [73]:
#La función print concatena dependiendo de como son las entradas.
#A continuación se muestran tres resultados diferentes 

print("Común" "mente")
print("Común","mente")
print(("Común","mente"))

Comúnmente
Común mente
('Común', 'mente')

In [74]:
#Por otra parte, la función print convierte todos las entradas a strings
print("Común", 1.0, False)

Común 1.0 False

Python posee dos estilos de formatos. Un estilo más antiguo, en el que se especifica, por ejemplo, el número de cifras decimales que se imprimirá tendrá un número de tipo float denotado por %n.f y %.d, que transforma un número en un string, correspondiente a un numero decimal.

In [77]:
s2 = "value1 = %.3f. value2 = %.1f" % (3.1415, 1.5)
print(s2)

value1 = 3.142. value2 = 1.5

El mismo string puede ser definido usando el nuevo estilo de formato

In [81]:
s3 = 'value1 = {:.3f}, value2 = {:.0f}'.format(3.1415, 1.5)

print(s3)
type(s3)

value1 = 3.142, value2 = 2

str

<p><a name="alist"></a></p>

### 1.3.1. Listas

[[Secciones]](#sections)

Las listas son muy similares a los `strings` con la excepción de que los elementos de una lista pueden ser de cualquier tipo.

La sintaxis en Python es de la forma `[...]`.

In [89]:
l=[50,1,2,3,5,6]
print(type(l))
print(l)

<class 'list'>
[50, 1, 2, 3, 5, 6]

Podemos usar las mismas técnicas de *slicing* que usamos en los *strings

In [86]:
print(l[:])
print(l[0:2])
print(l[::3])

[0, 1, 2, 3, 5, 6]
[0, 1]
[0, 3]

**A los usuarios de MATLAB**: Recuerden que la indexación inicia en 0

In [91]:
l[2]

2

Los elementos de una lista no tiene que ser todos del mismo

In [92]:
l = [1, 'a', 1.0, True, 8**2]

Las listas en Python inhomogeneas y anidadas arbitrariamente:

In [93]:
nested_list = [1, [2, [3, [4, [5]]]]]
nested_list

[1, [2, [3, [4, [5]]]]]

Las listas desempeñan un papel muy importante en Python y, por ejemplo, se utilizan en bucles y otras estructuras de control de flujo (que se analizan a continuación). Hay una serie de funciones convenientes para generar listas de varios tipos, por ejemplo, la función de `range` (tenga en cuenta la función `range` de Python 3 crea un generador, por lo que tiene que usar la función de lista para obtener una lista):

In [96]:
inicio = 1
final = 9
paso = 2

list(range(inicio, final, paso))

[1, 3, 5, 7]

In [100]:
# Convertir un string en una lista casteando mediante list
s = "Hola mundo"
print(s)

s2 = list(s)

s2

Hola mundo

['H', 'o', 'l', 'a', ' ', 'm', 'u', 'n', 'd', 'o']

In [101]:
# Organización de la lista
s2.sort()

print(s2)

[' ', 'H', 'a', 'd', 'l', 'm', 'n', 'o', 'o', 'u']

***Adición, inserción, modificación y remoción de elementos de una lista***

In [117]:
# Creación de una lista vacía
l = []

# Adición de elementos usando `append`
l.append("A")
l.append("B")
l.append("C")
l.append("D")


print(l)

['A', 'B', 'C', 'D']

Podemos modificar una lista al asignar nuevos valores a elementos de esa lista, es decir, las listas son *mutables*.

In [111]:
l[1] = "p"
l[2] = "t"
l.append("B")

print(l)

['A', 'p', 't', 'D', 'B', 'B']

In [116]:
l[1:2] = ["s", "m"]

print(l)

['A', 's', 'm', 'C', 'D']

Inserción de elementos mediante `insert`.

In [118]:
l.insert(0, "i")
l.insert(1, "n")
l.insert(2, "s")
l.insert(3, "e")
l.insert(4, "r")
l.insert(5, "t")

print(l)

['i', 'n', 's', 'e', 'r', 't', 'A', 'B', 'C', 'D']

Remoción del primer elemento de un valor específico mendiante `remove`

In [119]:
l.remove("A")

print(l)

['i', 'n', 's', 'e', 'r', 't', 'B', 'C', 'D']

Remoción de un elemento en una posición específica usando `del`

In [120]:
del l[7]
del l[6]

print(l)

['i', 'n', 's', 'e', 'r', 't', 'D']

<p><a name="tuples"></a></p>

### 1.3.2. Tuplas

[[Secciones]](#sections)

Las tuplas son como las listas, excepto que estas no pueden ser modificadas una vez se han creado, es decir, son inmutables.

En Python, las tuplas son creadas usando la sintaxis (..., ..., ...), incluso ..., ...:

In [121]:
point = (10, 20)

print(type(point))
print(point)

<class 'tuple'>
(10, 20)

Si intentamos asignar un nuevo valor a un elemento de la tupla, obtenemos un error:

In [122]:
try:
    point[0] = 20
except(TypeError) as er:
    print("TypeError:", er)
else:
    raise

TypeError: 'tuple' object does not support item assignment

<p><a name="diccionarios"></a></p>

### 1.3.3. Diccionarios

[[Secciones]](#sections)

Los diccionarios son también parecidos a las listas, excepto que cada elemento es una pareja clave-valor. La sintaxis en los diccionarios es de la forma {key1 : value1, ...}:

In [126]:
params = {"parameter1" : [1.0,2,3],
          "parameter2" : [1.0,2,3],
          "parameter3" : [1.0,2,3]}
v1 = [1,2,3,4,5]
v2 = ["Juan", "Marco","Camilo", "Bernardo", "Jimena"]
dic = dict(zip(v1, v2))
print(type(dic))
print(type(params))
print(params)
print(dic)

<class 'dict'>
<class 'dict'>
{'parameter1': [1.0, 2, 3], 'parameter2': [1.0, 2, 3], 'parameter3': [1.0, 2, 3]}
{1: 'Juan', 2: 'Marco', 3: 'Camilo', 4: 'Bernardo', 5: 'Jimena'}

A las entradas de los diccionarios solo puede accerderse mediante el nombre de la clave.

In [128]:
params["parameter2"]
dic[1]

'Juan'

In [129]:
print("parameter1 = " + str(params["parameter1"]))
print("parameter2 = " + str(params["parameter2"]))
print("parameter3 = " + str(params["parameter3"]))

parameter1 = [1.0, 2, 3]
parameter2 = [1.0, 2, 3]
parameter3 = [1.0, 2, 3]

In [130]:
params["parameter1"] = "A"
params["parameter2"] = "B"

# add a new entry
params["parameter4"] = "D"

print("parameter1 = " + str(params["parameter1"]))
print("parameter2 = " + str(params["parameter2"]))
print("parameter3 = " + str(params["parameter3"]))
print("parameter4 = " + str(params["parameter4"]))

parameter1 = A
parameter2 = B
parameter3 = [1.0, 2, 3]
parameter4 = D

<p><a name="cond"></a></p>

### 1.3.4. Condicionales: if, elif, else
La sintaxis en Python para la ejecución de una condición  consiste en las palabras claves `if`, `elif` (else if), `else`:

In [133]:
statement1 = 100
statement2 = 50

if statement1 < 100:
    print("statement1 es menor ")

elif statement2 == 100:
    print("statement2 es igual")

else:
    print("statement1 y statement2 son Falsos")

statement1 y statement2 son Falsos

También podemos tener sentencias if anidadas

In [134]:
val = 100
if val < 200:
  print("El valor es menor a 200")
  if val == 150:
    print("es 150")
  elif val == 100:
    print("es 100")
  elif val == 50:
    print("es 50")
  elif val < 50:
    print("el valor es menor a 50")
else:
  print("El valor es mayor a 200")

El valor es menor a 200
es 100

<p><a name="iter"></a></p>

## 1.3. Iteraciones y ciclos lógicos

En general, las instrucciones se ejecutan secuencialmente: la primera instrucción en una función se ejecuta primero, seguida de la segunda, y así sucesivamente. Puede haber una situación en la que necesite ejecutar un bloque de código varias veces.  Una instrucción de bucle nos permite ejecutar una instrucción o un grupo de instrucciones varias veces.

<p><a name="cicl"></a></p>

### 1.3.1. Ciclos for y while

El ciclo for ejecuta una secuencia de sentencias un número determinado de veces

In [ ]:
range(5)

range(0, 5)

In [142]:
suma=0
for i in range(6):
  suma+=i
  print('i='+ str(i) +'suma=',suma)

i=0suma= 0
i=1suma= 1
i=2suma= 3
i=3suma= 6
i=4suma= 10
i=5suma= 15

También podemos iterar sobre listas

In [156]:
vocales=["a","e","i", "o","u"]
for i in range(0,len(vocales)):
  if vocales[i] == "e":
    print(i)
    v = i
    print(vocales)
vocales.pop(v)
vocales

1
['a', 'e', 'i', 'o', 'u']

['a', 'i', 'o', 'u']

In [150]:
vocales

['a', 'e', 'i', 'o', 'u']

In [157]:
for i in range(len(vocales)):
  print (i,vocales[i])

0 a
1 i
2 o
3 u

El ciclo while repite una sentencia o grupo de sentencias mientras una condición dada es TRUE. Prueba la condición antes de ejecutar el cuerpo del ciclo.

In [158]:
c = 4
while c > 0:
  print('c=',c,'se cumple la condición')
  c-=1

c= 4 se cumple la condición
c= 3 se cumple la condición
c= 2 se cumple la condición
c= 1 se cumple la condición

Podemos tener varias condiciones

In [159]:
c = 10
while c > 0:
  if c > 1 and c!=5:
    print ("Voy a hacerlo "+str(c-1)+" veces más")
  elif c==5:
    print('Voy en '+str(c-1))
  else:
    print ("¡Este es el último!")
  c -= 1 #c=c-1

Voy a hacerlo 9 veces más
Voy a hacerlo 8 veces más
Voy a hacerlo 7 veces más
Voy a hacerlo 6 veces más
Voy a hacerlo 5 veces más
Voy en 4
Voy a hacerlo 3 veces más
Voy a hacerlo 2 veces más
Voy a hacerlo 1 veces más
¡Este es el último!

Podemos usar uno o más ciclos dentro de otro. Esto lo conocemos como ciclos anidados

In [ ]:
for i in range(2):
  for j in range(5):
    print("i: %d j: %d" %(i,j))

i: 0 j: 0
i: 0 j: 1
i: 0 j: 2
i: 0 j: 3
i: 0 j: 4
i: 1 j: 0
i: 1 j: 1
i: 1 j: 2
i: 1 j: 3
i: 1 j: 4

<p><a name="contr"></a></p>

### 1.3.2. Sentencias de control de ciclo: break y continue.

Las sentencias de control de ciclo cambian la ejecución de su secuencia normal. Cuando la ejecución deja un ámbito, todos los objetos automáticos que se crearon en ese ámbito se destruyen.

La sentencia de control *break* termina el ciclo actual y reanuda la ejecución en la siguiente instrucción.

In [160]:
for i in vocales:
  if i=="o":
    break
  print(i)

a
i

La sentencia de control *continue* rechaza todas las declaraciones restantes en la iteración actual del ciclo y mueve el control de nuevo a la parte superior de este

In [161]:
for i in vocales:
  if i=="o":
    continue
  print(i)

a
i
u

<p><a name="func"></a></p>

## 1.4. Funciones y clases

<p><a name="funci"></a></p>

### 1.4.1. Funciones

Una función es un bloque de código organizado y reutilizable que se utiliza para realizar una única acción relacionada. Las funciones proporcionan una mejor modularidad para su aplicación y un alto grado de reutilización de código.

>`def Nombre(arg1,arg2,...):`
>> `sentencias`

Definamos la función exponencial $a^b$

In [163]:
def Exp(a,b):
  exp = a**b
  print(exp)
  return
  
Exp(1,2)

1

La sentencia *return* termina la función,  devolviendo opcionalmente uno o varios valores. Una declaración de retorno sin argumentos es lo mismo que devolver *none* (como en el caso anterior)

In [164]:
def Exp(a,b):
  return a**b
  
def Exp2(a,b):
  exp = a**b
  exp1 = a**b+1
  exp2 = a**b+2
  return exp, exp1, exp2

print(Exp(2,2),type(Exp(2,2)))

print(Exp2(2,2),type(Exp2(2,2)))

4 <class 'int'>
(4, 5, 6) <class 'tuple'>

Los atributos son como propiedades que queremos añadir a la clase

<p><a name="inout"></a></p>

## 1.5. Archivos de entrada y salida

<p><a name="lecte"></a></p>

### 1.5.1. Lectura de entrada de teclado

Python proporciona una función integrada <code>input()</code> para leer una línea de texto de la entrada estándar

In [165]:
a = input('Ingresa un número ')
print('El número que ingresaste es:',a)
type(a)

Ingresa un número 4
El número que ingresaste es: 4

str


independientemente de lo que ingrese como entrada, la función <code>input()</code> siempre lo convierte en una cadena de caracteres. Podemos utilizar las funciones <code>int()</code> y <code>float()</code> para obtener enteros y números de punto flotante respectivamente

In [ ]:
numero_entero = int(input('Ingresa in unúmero'))
print(numero_entero,type(numero_entero))

numero_pflotante = float(input('Ingresa un número'))
print(numero_pflotante,type(numero_pflotante))

Ingresa in unúmero4
4 <class 'int'>
Ingresa un número1.2
1.2 <class 'float'>

<p><a name="git"></a></p>

### 2 Github

In [ ]:
!git clone https://github.com/username/repositorio

Cloning into 'repositorio'...
fatal: could not read Username for 'https://github.com': No such device or address